*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

body {
    color: #000;
    font-family: Pretendard;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    z-index: -10;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.hide {
    display: none !important;
}

.tw-700 {
    font-weight: 700;
}

.lh-26 {
    line-height: 26px;
}

.text-999 {
    color: #999;
}

.text-111 {
    color: #111;
}

.bg-FFFFFF {
    background: #FFFFFF;
}

.bg-F5F5F5 {
    background: #F5F5F5;
}

.button {
    cursor: pointer;
}

.line {
    height: 1px;
    align-self: stretch;
    margin: 0px 30px;
    background: rgba(0, 0, 0, 0.10);
}

.fixed {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

body {
    background-color: #666;
    max-width: 440px;
    min-width: 360px;
    margin: 0 auto;
}

.icon {
    width: 16px;
    height: 16px;
}

.dropdown {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-self: stretch;
    align-items: center;
    padding: 14px 20px;
    background: #F5F5F5;
}

.dropdown-box {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 1px;
    background: #F5F5F5;
    padding: 0px 20px 0px 20px;
    height: 0;
    overflow: hidden;
    align-self: stretch;
    transition: height 0.3s ease-in, padding 0.3s ease-in;
}

#base {
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.area-mw-full {
    max-width: 100%;
}

.margin-0-30 {
    margin: 0px 30px;
}

#banner-frame {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#banner-img {
    position: relative;
    height: auto;
    object-fit: cover;
}

#banner-text-frame {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.banner-text {
    text-align: center;
    font-size: 15px;
    font-style: normal;
    line-height: 26px;
}

#tab {
    width: 100%;
    display: flex;
    align-items: center;
    height: 46px;
}

#tab.fixed {
    max-width: 440px;
    min-width: 360px;
    background: white;
}

#tab-inner {
    display: flex;
    width: 80%;
    justify-content: space-between;
    flex-direction: row;
    height: 20px;
    margin: auto;
}

.tab-item {
    font-size: 14px;
    line-height: 140%;
}

.contents {
    margin-top: 100px;
}

.contents .subject {
    color: #000;
    font-size: 24px;
    font-weight: 800;
    line-height: 32px;
    margin-bottom: 24px;
}

#welcome-message-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: stretch;
}

#welcome-message {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
    line-height: 30px;
}

#family {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 40px;
    line-height: 200%;
}

#parents-text-area {
    display: flex;
    flex-direction: column;
    margin-right: 13px;
}

.dml {
    color: #111;
    font-size: 12px;
    line-height: 32px;
    letter-spacing: 0.24px;
}

.parents {
    color: #111;
    line-height: 32px;
    letter-spacing: 0.32px;
}

#us-text-area {
    display: flex;
    flex-direction: column;
}

.us {
    color: #111;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0.32px;
}

#contect.show {
    height: 63px;
    padding: 20px;
}

.contect-box-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.contact-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 24px;

}

#message .icon {
    width: 20px;
}

#our-story-area {
    display: flex;
    flex-direction: column;
}

#our-story-area .inner-contents {
    display: flex;
    flex-direction: column;
    padding: 20px 30px;
}

#our-story-area .contents-question {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 18px;
    font-weight: 700;
}

#our-story-area .dropdown-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 0;
    height: 0;
    overflow: hidden;
    transition: none;
}

#our-story-area .dropdown-box.show {
    padding-top: 20px;
    height: fit-content;
    margin-bottom: 30px;
}

#our-story-area .contents-answer {
    font-size: 16px;
    line-height: 28px;
}

#gallary-area {
    position: relative;
    display: flex;
    flex-direction: column;
    align-self: stretch;
}

#gallary-area .images {
    display: flex;
    flex-direction: column;
}

#gallary-area .image-stack {
    display: flex;
    flex-direction: row;
}

#gallary-area .img {
    width: 100%;
    overflow: hidden;
    object-position: center;
    object-fit: cover;
}

.gallary-modal {
    display: flex;
    gap: 16px;
    position: fixed;
    flex-direction: column;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 440px;
    height: 200vh;
    z-index: 30;
    background-color: rgba(255, 255, 255);
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.swiper-container {
    display: flex;
    max-width: 100%;
    max-height: 100%;
    justify-content: center;
    align-content: center;
}

.swiper-container img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.swiper-slide {
    display: flex !important;
}

.gallary-modal-btn-box {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.gallary-modal-btn-box img {
    width: 40px;
    height: 40px;
}

.gallary-modal-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 40px;
    height: 40px;
}

.swiper-button-next,
.swiper-button-prev {
    position: relative !important;
    margin-top: 0px !important;
    top: var(--swiper-navigation-sides-offset, 0px) !important;
    bottom: var(--swiper-navigation-sides-offset, 0px) !important;
    left: var(--swiper-navigation-sides-offset, 0px) !important;
    right: var(--swiper-navigation-sides-offset, 0px) !important;
}

#date-area {
    display: flex;
    flex-direction: column;
    align-self: stretch;
}

#date-area .inner-contents {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--111111, #111);
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
}

#calendar-area {
    display: flex;
    align-self: stretch;
}

#calendar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    padding: 20px 0px;
    border-top: 1px solid rgba(0, 0, 0, 0.10);
    border-bottom: 1px solid rgba(0, 0, 0, 0.10);
    margin-top: 20px;
}

#calendar .week {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#calendar .day {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 17px;
    height: 17px;
    padding: 10px;
    text-align: center;
}

#calendar .day.highlight {
    background-color: #D27BBA;
    border-radius: 50%;
    color: white;
}

#location-area {
    display: flex;
    flex-direction: column;
}

#map-area {
    margin-bottom: 20px;
}

#location-text {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

#location {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
}

#location-name {
    color: #111;
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
}

#copy-location {
    display: flex;
    padding: 4px 8px 3px 8px;
    width: 45px;
    height: 18px;
    align-items: center;
    color: #666;
    font-size: 13px;
    line-height: 18px;
    border-radius: 2px;
    border: 1px solid rgba(0, 0, 0, 0.10);
}

#address {
    display: flex;
    flex-direction: column;
    color: #777;
    font-size: 13px;
    line-height: 21px;
    letter-spacing: -0.13px;
}

#map {
    margin: 20px 0px;
}

#map img {
    width: 100%;
    height: 100%;
}

#app_link {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 6px;
    align-self: stretch;
}

#app_link .map-button {
    display: flex;
    padding: 9px 40px;
    justify-content: center;
    align-items: center;
    min-width: fit-content;
    gap: 10px;
    flex: 1 0 0;
    border-radius: 3px;
    border: 1px solid rgba(0, 0, 0, 0.10);
    color: #111;
    font-size: 15px;
    line-height: 24px;
}

#traffic-area .inner-contents {
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-top: 24px;
}

#traffic-area .inner-subject {
    color: #111;
    font-weight: 700;
}

#traffic-area .inner-text {
    color: #333;
    font-size: 15px;
}

#account-area {
    display: flex;
    flex-direction: column;
    align-self: stretch;
    margin-bottom: 80px;
}

#account {
    display: flex;
    flex-direction: column;
}

#groom-account.show {
    height: 67px;
    padding: 20px;
}

#bride-account.show {
    height: 108px;
    padding: 20px;
}

#account .account-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#account .account-owner {
    font-size: 14px;
    font-weight: 600;
    letter-spacing: -0.14px;

}

#account .account-number {
    margin-left: 8px;
    margin-right: auto;
    font-size: 14px;
    letter-spacing: -0.14px;
}

#account .copy-button {
    display: flex;
    padding: 4px 12px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 3px;
    background: #FFF;
    color: #000;
    font-size: 13px;
    line-height: 140%;
    letter-spacing: -0.13px;
}

.sharing-btn {
    display: flex;
    width: 240px;
    height: 46px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 60px;
    border: 1px solid rgba(0, 0, 0, 0.10);
    color: #666;
    font-weight: 500;
    font-size: 14px;
}

#footer-area {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    background: #333;
}

#footer-area img {
    width: inherit;
}

#copyright {
    position: absolute;
    color: #FFF;
    font-size: 12px;
    margin-bottom: 18px;
}